/* Construyo unas 'custom properties' para manejar
más facilmente los colores.*/
:root {
    --color1: #FFEAA5;
    --color2: #5B4600;
}

body {
    background-color: #ceb668;
    margin: 0;
    font: 100% "trebuchet ms", Arial, Helvetica, sans-serif;
}

p {
    font-size: .8em;
}

h2, h3 {
    color: var(--color2); 
}

.margenLateral {
    margin: auto;
    width: 85%;
}

/* Para pantallas pequeñas */
@media (max-width: 650px) {
  .noMargen {
    width: 100%;
  }  
}

/**  CABECERA  **/
#head {
    background-color: var(--color1);
    color: var(--color2);
    font-size: 1.5em;
    font-weight: bold;
    overflow: hidden;
    padding: .5em;
}

#head div {
    display: inline-block;
}

#logo {
    width: 25%;
    margin: 0 .5em;
}
/* Aplico un filtro al logo para cambiar el color, */
#logo img {
    filter: hue-rotate(-50deg);
}

#cabecera {
    margin: .5em 0 0 .5em;
    min-width: 60%;
    text-align: right;
    vertical-align: top;
}

#cabecera h4 {    
    border: 2px dashed;
    display: inline;
    font-family: 'times New Roman';
    padding: .1em .2em;
    /* Impido que se rompa la línea si la pantalla es pequeña */
    white-space: nowrap;
}
/**  / CABECERA  **/


/**  NAVBAR  **/
nav li {
    float: left;
}

nav ul {
    background-color: var(--color2);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    background: url(../imagenes/boton_1.png) no-repeat;
    background-position: 10%;
    background-size: 20px;
    display: block;
    color: var(--color1);
    text-align: center;
    padding: 14px 16px 14px 35px;
    text-decoration: none;
}

nav li a:hover:not(.actual) {
    background-color: #404040;
    background-image: url(../imagenes/boton_2.png);
    background-position: 10%;
    background-size: 20px;
}

.actual {
    background-color: rgba(255, 234, 165, 0.47);    
    background-image: url(../imagenes/boton_2.png);
    background-position: 10%;
    background-size: 20px;
}
/**  / NAVBAR  **/


/**  MAIN  **/
.banner {
    text-align: center;
    margin-right: 8px;
}

.banner h2 {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;    
}

#img_banner {
    border: 3px solid var(--color2);
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

main {
    background-color: var(--color1);
    padding: .5em 0 .5em .5em;
    overflow: hidden;
}

main section {
    box-sizing: border-box;
    display: inline-block;
    padding: .5em;
    width: 70%;
}

/*  ASIDE  */
main aside {
    background-color: var(--color2);
    color: var(--color1);
    float: right;
    max-height: 800px;
    width: 30%;
}

main aside header {
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
    margin: -6px 8px;
}

aside header h4 {
    padding: .6em;
}

main aside article {
    padding: 0 8px;
}
/*  / ASIDE  */

/**  / MAIN **/


/** FOOTER **/
footer {
    box-sizing: border-box;
    border: 4px solid var(--color2);
    color: var(--color2);
    display: inline-block;
    width: 100%;
}

.fleft {
    float: left;
    margin: 8px;
    
}

.fright {
    float: right;
    margin: 8px;
}
/** / FOOTER **/



/* Productos  */
#productos {
    list-style-type: none;
    padding: 0;
    
}

#productos li {
    margin: 0px;
}

#productos li a {
    color: var(--color2);
    display: inline-block;
    padding: 6px 4px;
    text-align: center;
    text-decoration: none;
}

#productos img {
    vertical-align: middle;
    margin-right: 20px;
    border: 4px solid;
    border-radius: 100px;
    padding: 10px;
}

#productos li a:hover {
    color: #404040;
}

#productos li a:hover > img {
    background-color: #404040;
}
/* / Productos  */


/* Contacto */
#formulario {
    color: var(--color2);
    margin: 5px;
}
/* / Contacto */


/* Mapa */
#localizacion {
    color: var(--color2);
}

#localizacion #mapa  {
    margin: 0 25px;
    border: 8px double ;
    width: auto;
    height: 200px;
}
/* / Mapa */
